<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Task Manager</title>
        <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script src="/static/node_modules/angular/angular.min.js"></script>
        <script src="/static/node_modules/api-check/dist/api-check.min.js"></script>
        <script src="/static/node_modules/angular-formly/dist/formly.min.js"></script>
        <script src="/static/node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
        <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="taskApp">
        <home></home>

        <script src="/static/app.js"></script>
        <script src="/static/tiles/tile-list.component.js"></script>
        <script src="/static/tiles/tile-form.component.js"></script>
        <script src="/static/tasks/task-list.component.js"></script>
        <script src="/static/tasks/task-form.component.js"></script>
    </body>
</html>